@import 'react-toastify/dist/ReactToastify.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;

        scrollbar-width: none;
    }

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.nunito-font
{
           font-family: "Nunito", sans-serif;
           font-optical-sizing: auto;
           font-weight: 400;
           font-style: normal;
         }


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.select-wrapper {
    position: relative;
    display: inline-block;
}

.select {
    appearance: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #2d2d2d;
    color: #fff;
    width: 100%;
}

.select::after {
    content: " ▼";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.select option {
    background-color: #2d2d2d;
    color: #fff;
}
